.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 10px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 724px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-shape-1 {
  width: 500px;
  height: 459px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 440px;
  height: 440px;
  background-image: url("images/mike.webp");
  background-position: 50% 50%;
  margin: -397px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 142px;
  height: 54px;
  margin: -32px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  text-align: left;
  margin: 112px 396px 0 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  text-align: left;
  margin: -75px 262px 0 144px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  text-align: left;
  margin: -50px 158px 0 248px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  text-align: left;
  margin: -50px 34px 25px 372px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 724px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-image-2 {
  width: 114px;
  height: 114px;
  background-image: url("images/kodluyoruz1.png");
  background-position: 50% 50%;
  margin: 12px 30px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
  margin: -70px 20px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 69px 20px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 73px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 19px;
  }

  .u-section-1 .u-shape-1 {
    width: 410px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -2px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 306px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 212px;
    margin-left: 94px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 108px;
    margin-left: 198px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 306px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 597px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 19px;
  }

  .u-section-1 .u-shape-1 {
    width: 300px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 108px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 196px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 157px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 53px;
    margin-left: 143px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 196px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 826px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1112px;
  margin: 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 588px;
  grid-gap: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-2 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("images/burger-king-logo1.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px auto 0 147px;
}

.u-section-2 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-2 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("images/nike1.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px auto 0 147px;
}

.u-section-2 .u-container-layout-3 {
  padding: 29px 30px;
}

.u-section-2 .u-image-3 {
  width: 110px;
  height: 110px;
  background-image: url("images/algida1.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px auto 0 147px;
}

.u-section-2 .u-container-layout-4 {
  padding: 29px 30px;
}

.u-section-2 .u-image-4 {
  width: 110px;
  height: 110px;
  background-image: url("images/coca-cola-LOGO1.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px auto 0 147px;
}

.u-section-2 .u-container-layout-5 {
  padding: 29px 30px;
}

.u-section-2 .u-image-5 {
  width: 110px;
  height: 110px;
  background-image: url("images/bilgeadam1.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px auto 0 147px;
}

.u-section-2 .u-container-layout-6 {
  padding: 29px 30px;
}

.u-section-2 .u-image-6 {
  width: 110px;
  height: 110px;
  background-image: url("images/kodluyoruz1.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  margin: -110px 0 0 147px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px auto 0 147px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 497px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -180px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 130px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 90px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -180px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 130px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 90px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -180px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 130px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 90px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: -180px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 130px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 90px;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: -180px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 130px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-top: 90px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 21px;
    margin-left: 147px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 21px;
    margin-left: 147px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 21px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 147px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 21px;
    margin-left: 147px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 21px;
    margin-left: 147px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -125px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 35px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -125px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 35px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -125px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 35px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 1px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -125px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 35px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -125px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 35px;
  }
}