<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - OrangeHR_MVCProject</title>
    <link href="~/siir/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/siir/css/login.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="~/siir/logo.jpeg" class="brand_logo" alt="Logo">
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/siir/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/siir/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/siir/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>