@model ManagerLoginVM

@{
    ViewData["Title"] = "CorporateLogin";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="d-flex justify-content-center form_container">
    <form asp-action="ManagerLogin">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <label asp-for="FieldName" class="input-group-text"><i class="fas fa-user"></i></label>
            </div>
            <input asp-for="FieldName" class="form-control input_user" />
        </div>
        <div class="input-group mb-3">
            <span asp-validation-for="FieldName" class="form-text text-white"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <label asp-for="Password" class="input-group-text"><i class="fas fa-key"></i></label>
            </div>
            <input asp-for="Password" class="form-control input_user" />
        </div>
        <div class="input-group mb-3">
            <span asp-validation-for="Password" class="form-text text-white"></span>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" class="btn btn-primary">Devam</button>
        </div>
    </form> 
</div>

<div class="mt-4">
    <div class="d-flex justify-content-center links">
        <a class="" asp-action="EmployeeLogin">Giriş Sayfası</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
