


<body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <section id="home">
            <div class="bg-holder" style="background-image:url(assets/img/gallery/hero.png);background-position:center;background-size:cover;">
            </div>


            <div class="container">
                <div class="row align-items-center min-vh-50 min-vh-sm-75">
                    <div class="col-md-5 col-lg-6 order-0 order-md-1"><img class="w-100" src="assets/img/illustrations/hero-header.png" alt="..." /></div>
                    <div class="col-md-7 col-lg-6 text-md-start text-center">
                        <h1 class="text-light fs-md-5 fs-lg-6">Human Resources Management Systems</h1>
                        <p class="text-light">Full control of what you use and pay for </p>
                    </div>
                </div>
            </div>
        </section>



        <section class="pt-8">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xxl-5 text-center mx-auto">
                        <h2>What will you get if you'll join us</h2>
                        <p class="mb-4">Get the best web hosting service at the price you can afford</p>
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="col-md-5 col-lg-6 order-md-1 order-0"><img class="w-100" src="assets/img/gallery/join-us.png" alt="" /></div>
                    <div class="col-md-7 col-lg-6 pe-lg-4 pe-xl-7">
                        <div class="d-flex align-items-start">
                            <img class="me-4" src="assets/img/icons/give-a-care.png" alt="" width="30" />
                            <div class="flex-1">
                                <h5>WE GIVE A CARE </h5>
                                <p class="mb-4">Beside the support we provide you with various tools to be able to host and manage your websites</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <img class="me-4" src="assets/img/icons/tweak-as-you.png" alt="" width="30" />
                            <div class="flex-1">
                                <h5>TWEAK AS YOU WISH</h5>
                                <p class="mb-4">Be able to customize your plan over time if needed so you pay only for what you use</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <img class="me-4" src="assets/img/icons/security.png" width="30" alt="..." />
                            <div class="flex-1">
                                <h5>SECURITY AT ITS BEST</h5>
                                <p>We are the most reliable service provider, ready to give you a helping hand the fastest way possible 24/7</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <section class="pt-8 bg-soft-primary">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
                        <h2>Don't know where to start from?</h2>
                        <p class="mb-5">We've got the best articles,tools and resources to help you to start</p>
                    </div>
                </div>
                <div class="row h-100">
                    <div class="col-md-6 mb-5 mb-md-0 h-100">
                        <div class="card card-span bg-primary h-100">
                            <div class="card-body p-4">
                                <div class="d-flex justify-content-between"><img class="mb-3" src="assets/img/icons/rocket.png" height="80" alt="..." /><img src="assets/img/icons/clouds-1.png" height="90" alt="..." /></div>
                                <h5 class="text-light">PLANING TO BUILD A HR MANAGEMENT SYTEM</h5>
                                <p class="text-light lh-lg">You want to build a new HR Management System but not sure what to start with? We've prepared a step by step guide for you to handle the whole process from design to launch </p>
                                <div class="text-end">
                                    <a class="btn btn-light" href="#" role="button">
                                        LEARN MORE
                                        <svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 h-100">
                        <div class="card bg-secondary card-span h-100">
                            <div class="card-body p-4">
                                <div class="d-flex justify-content-between"><img class="mb-3" src="assets/img/icons/servion.png" height="80" alt="..." /><img src="assets/img/icons/logos.png" height="90" alt="..." /></div>
                                <h5 class="text-light">WANT TO MOVE A COMPANY TO ORANGE HR MANAGEMENT</h5>
                                <p class="text-light lh-lg">Already have an existing human resource management and want to move it to Oranga Human Resource Management but not sure how to do it? No worries, it's not difficult, we can handle all the work for you. </p>
                                <div class="text-end">
                                    <a class="btn btn-light" href="#" role="button">
                                        LEARN MORE
                                        <svg class="bi bi-chevron-right" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <section class="pt-6" id="pricingTable">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
                        <h2>Types of hosting that we provide</h2>
                        <p class="mb-5">Our service is always affordable for everyone. </p>
                    </div>
                </div>
                <div class="row h-100">
                    <div class="col-sm-6 col-xl-3 mb-3">
                        <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="assets/img/icons/performance.png" alt="..." />
                                    <h5 class="my-3"> PERFORMANCE</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                            Performance management can be described as a process by which
                                            organisations set goals, determine standards, assign and evaluate work, and
                                            distribute rewards
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="border-top bg-white text-center pt-3 pb-0">


                                <a href="#"> Şimdi İncele </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3 mb-3">
                        <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="assets/img/icons/budget.png" alt="..." />
                                    <h5 class="my-3"> BUDGET</h5>
                                    <ul class="list-unstyled">
                                        <li>While the best HR budget examples are continuous and ongoing, most teams still employ an annual cadence in keeping with their overall budgeting cycle.   </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="border-top bg-white text-center pt-3 pb-0">


                                <a href="#"> Şimdi İncele </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3 mb-3">
                        <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="assets/img/icons/permission.png" alt="..." />
                                    <h5 class="my-3"> PERMISSION</h5>
                                    <ul class="list-unstyled">
                                        <li>Expenditure management can keep track of all expenditures made on behalf of human resources, ensuring the balance of income and expenditure, and employee payments. </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="border-top bg-white text-center pt-3 pb-0">


                                <a href="#"> Şimdi İncele </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3 mb-3">
                        <div class="card card-span shadow py-4 h-100 border-top border-4 border-primary">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="assets/img/icons/shift.png" alt="..." />
                                    <h5 class="my-3">Shift </h5>
                                    <ul class="list-unstyled">
                                        <li>It is possible to enter shift and break times, access and manage this shift system of employees.</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="border-top bg-white text-center pt-3 pb-0">
                                <a href="#"> Şimdi İncele </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>


        <hr style="box-shadow: 0 0 0 0.50rem rgb(229, 123, 92);" />
        <section class="" id="team">


            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-5">
                        <h2>Valued customers with valuable feedback</h2>
                        <p class="mb-5">Feedbacks from our happy users. Become one of them. </p>
                    </div>
                </div>
                <div class="carousel slide" id="carousel11" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row h-100">
                                <div class="col-lg-6 mb-3 mb-md-0">
                                    <div class="card card-span h-100 bg-transparent">
                                        <div class="card-body my-2">
                                            <div class="d-sm-flex">
                                                <a href="#"> <img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/mark.png" height="100" alt="..." /></a>
                                                <div class="flex-1 ps-2">
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <p class="my-3">&quot;I've been using Orange Human Resources for more than a year and I must say I've never had such reliable service provider to work with. They've helped me out a lot&quot;</p>
                                                    <a href="#"><h6 class="mb-0 fs--1">-Erich Marks</h6></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3 mb-md-0">
                                    <div class="card card-span h-100 bg-transparent">
                                        <div class="card-body my-2">
                                            <div class="d-sm-flex">
                                                <a href="#"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/emily.png" height="100" alt="..." /></a>
                                                <div class="flex-1 ps-2">
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <p class="my-3">&quot;I ve been using Orange Human Resources for hosting many of my wordpress websites and I truly appreciate how affordable it is&quot;</p>
                                                    <a href="#"><h6 class="mb-0 fs--1">-Emily Hartman</h6></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000" id="carousel11">
                            <div class="row h-100">
                                <div class="col-lg-6 mb-3 mb-md-0">
                                    <div class="card card-span h-100 bg-transparent">
                                        <div class="card-body my-2">
                                            <div class="d-sm-flex">
                                                <a href="#"> <img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/mark.png" height="100" alt="..." /></a>
                                                <div class="flex-1 ps-2">
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <p class="my-3">&quot;I've been using Orange Human Resources for more than a year and I must say I've never had such reliable service provider to work with. They've helped me out a lot&quot;</p>
                                                    <a href="#"><h6 class="mb-0 fs--1">-Erich Marks</h6></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3 mb-md-0">
                                    <div class="card card-span h-100 bg-transparent">
                                        <div class="card-body my-2">
                                            <div class="d-sm-flex">
                                                <a href="#"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/emily.png" height="100" alt="..." /></a>
                                                <div class="flex-1 ps-2">
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <p class="my-3">&quot;I ve been using Orange Human Resources for hosting many of my wordpress websites and I truly appreciate how affordable it is&quot;</p>
                                                    <a href="#"><h6 class="mb-0 fs--1">-Emily Hartman</h6></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-lg-6 mb-3 mb-md-0">
                                    <div class="card card-span h-100 bg-transparent">
                                        <div class="card-body my-2">
                                            <div class="d-sm-flex">
                                                <a href="#"> <img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/mark.png" height="100" alt="..." /></a>
                                                <div class="flex-1 ps-2">
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <p class="my-3">&quot;I've been using Orange Human Resources for more than a year and I must say I've never had such reliable service provider to work with. They've helped me out a lot&quot;</p>
                                                    <a href="#"><h6 class="mb-0 fs--1">-Erich Marks</h6></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card card-span h-100 bg-transparent">
                                        <div class="card-body my-2">
                                            <div class="d-sm-flex">
                                                <a href="#"><img class="img-fluid me-3 me-md-2 me-lg-3" src="assets/img/gallery/emily.png" height="100" alt="..." /></a>
                                                <div class="flex-1 ps-2">
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <svg class="bi bi-star-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFCC00" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                    </svg>
                                                    <p class="my-3">&quot;I ve been using Orange Human Resources for hosting many of my wordpress websites and I truly appreciate how affordable it is&quot;</p>
                                                    <a href="#"><h6 class="mb-0 fs--1">-Emily Hartman</h6></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><a class="carousel-control-prev carousel-icon" href="#carousel11" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next carousel-icon" href="#carousel11" role="button" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></a>
                    <div class="row px-3 px-md-0 mt-4">
                        <div class="col-12 position-relative">
                            <ol class="carousel-indicators">
                                <li class="active" data-bs-target="#carousel11" data-bs-slide-to="0"></li>
                                <li data-bs-target="#carousel11" data-bs-slide-to="1"></li>
                                <li data-bs-target="#carousel11" data-bs-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr style="box-shadow: 0 0 0 0.50rem rgb(229, 123, 92);" />
        </main>
</body>
